html{
    background-color: rgb(128,128,128);
}
#logo{
    position: absolute;
}
#plattegrond{
    width: 50em;
    height: 32em;
    margin: 0 auto;
    background-image: url(afb/biebtom.png);
    border: 1px black solid;
}